@import 'tailwindcss';

@layer components {
  .focus-visible-app {
    @apply focus-visible:ring-2 focus-visible:ring-slate-300 focus-visible:ring-offset-2 focus-visible:outline-none;
  }

  .scrollbar::-webkit-scrollbar {
    @apply h-[4px] w-[4px];
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-[8px] bg-[#e5e5e5];
  }
  .scrollbar::-webkit-scrollbar-track-piece {
    @apply rounded-[8px] bg-transparent;
  }
}

@theme {
  /* slate-100 */
  --color-app-background: #f1f5f9;
  --color-app-danger: #dc2625;
  /* slate-900 */
  --color-app-default: #0f172a;
  /* slate-200 */
  --color-app-secondary: #e2e8f0;

  --font-noto-sans: 'Noto Sans', serif;
}
