@import 'tailwindcss';

@layer components {
  .focus-visible-app {
    @apply focus-visible:ring-2 focus-visible:ring-neutral-300 focus-visible:ring-offset-2 focus-visible:outline-none;
  }
}

@theme {
  --color-app-background: #F1F5F9;
  --color-app-danger: #dc2625;
  --color-app-default: #1d293d;
  --color-app-secondary: #E2E8F1;

  --font-noto-sans: 'Noto Sans', serif;
}
